#map {
      text-align:center;
      }
   

html, body {

}

#dice{
  width:400px;
  height:400px;
  /*background-image:url('img/preroll.png');*/
  background-size:400px;
  margin:auto;

	
}

#MyFrame {
	display:none;
}

