#map {
      text-align:center;
      margin-top:100px;
      display:none;
      }
   

html, body {

}

#dice{
  width:370px;
  height:370px;
  /*background-image:url('img/preroll.png');*/

  margin:auto;

	
}

#dice img {
  width:370px;
  height:370px;
}



#block{
  margin-top:-450px;
}

#MyFrame {
	display:none;
}

