#map {
      text-align:center;


      }



#button {
  display:none;
  text-align:center;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:400px;
  position:absolute;
  transition:200ms linear;
  
}

#button img {
  width:30px;


}

.map_button{
  width:100px;
  height:70px;
  box-shadow: 0 5px #3f3f3f;
  border-radius: 20px;
  transition:0.1s;
  background-color: #418b74;
  border-style:none;
    cursor: pointer;
    outline:none;


  
}

.facebook_button{
  width:100px;
  height:70px;
  box-shadow: 0 5px #3f3f3f;
  border-radius: 20px;
  transition:0.1s;
  background-color: #3b5998;
  border-style:none;
    cursor: pointer;
    outline:none;


  
}



.map_button:active {

  background-color:#aa4222;
}

.facebook_button:active {

  background-color:#274982;
}



#title {
  text-align:center;
  margin-top:40px;

}

.button {
  display: inline-block;
  border-radius: 20px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #ffbd56;
  color: white;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.column {   
  float: center;
  width: 400px;
  height:100%;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: 'Ubuntu', sans-serif;
}



h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size:50px;
  color:#ffbd56;
  text-shadow: 3px 3px #1a86a2;
}

#dice{
  width:370px;
  height:250px;
  /*background-image:url('img/preroll.png');*/

  margin:auto;
  margin-top:-40px;
      cursor: pointer;

}

#description {
  width:240px;
  height:0px;
  margin:auto;
  background-color:white;
  border-radius:20px;
  margin-top:10px;
  transition:200ms linear;
  box-shadow:0px 2px 2px black;
  overflow:hidden;
  text-align:center;


}

h2 {
  font-size: 20px;
}

#dice img {
  width:370px;
  height:250px;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);

}


#block{
  margin-top:-250px;
}

#MyFrame {
	display:none;
    -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
}

/*Cloud Animation*/

body {
	background: #95def1;
	color: #333;
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -900px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -900px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -900px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
 .active {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
	 
 }
 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #1a86a2;
  margin-top: 30px;
  border-radius: 20px;
  font-family: 'Ubuntu', sans-serif;
  float: bottom-center;
  width: 400px;
  font-size: 14px;
  color: #fff;
}
	

/* When the screen is less than 480px wide */
@media screen and (max-width: 650px) {
  .button {
    width: 40%;
	height:40%;
    font-size:17px;
	position: center;
	border-radius: 10px;
  }
  
  .column {   
  width: 80%;
    display: block;
}
  
  .footer {
  width: 80%;
    display: block;
}
  
}





